
.mapdivstyling:nth-child(even) {
    background: #0cebeb;
    background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
    color:black;
    height: 80px;
    width: 100%;
    border-radius: 10px;
    text-align: left;
}
.mapdivstyling:nth-child(odd) {
    border-radius: 10px;
    height: 80px;
    width: 100%;
    text-align: right;
}

